{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block monTitre %}Administration des aliments{% endblock %}

{% block body %}

{% for message in app.flashes('success') %}
    <div class="alert alert-success m-3">
        {{message}}
    </div>
{% endfor %}

<a href="{{path("admin_aliment_creation")}}" class="btn btn-success">Ajouter</a>

<table class="table">
    <tr class="table-primary">
        <td>Image</td>
        <td>Aliments</td>
        <td>Type</td>
        <td>Prix</td>
        <td>Calories</td>
        <td>Proteines</td>
        <td>Glucides</td>
        <td>Lipides</td>
        <td>Actions</td>
    </tr>
    {% for aliment in aliments %}
        <tr>
            <td style="width:10%"><img src="{{asset('images/aliments/' ~ aliment.image)}}" class="perso_imgAlimentAdmin" alt="{{ aliment.nom }}"></td>
            <td class="align-midle"><strong>{{aliment.nom}}</strong></td>
            <td class="align-midle"><strong>{{aliment.type.libelle}}</strong></td>
            <td class="align-midle">{{aliment.prix}}</td>
            <td class="align-midle">{{aliment.calorie}}</td>
            <td class="align-midle">{{aliment.proteine}}</td>
            <td class="align-midle">{{aliment.glucide}}</td>
            <td class="align-midle">{{aliment.lipide}}</td>
            <td class="align-midle">
                <a class="btn btn-primary" href="{{path('admin_aliment_modification',{'id': aliment.id})}}">Modifier</a>
                <form method="POST" style="display:inline-block" action="{{path("admin_aliment_suppression",{"id":aliment.id})}}" onsubmit="return confirm('Confirmer la suppression ?')">
                    <input type="hidden" name="_method" value="delete">
                    <input type="hidden" name="_token" value="{{ csrf_token('SUP' ~ aliment.id) }}">
                    <input type="submit" class="btn btn-danger" value="Supprimer">
                </form>
            </td>
        </tr>        
    {% endfor %}
</table>

{% endblock %}
